$color_Orange= #ffbf00
$color_Blue= #3da4ff
$color_Red= #d82424

size(w=100%,h=100%,bdrs=0)
  width w
  height h
  border-radius $bdrs
flexCenter(j=center,a=center)
  display flex
  justify-content j
  align-items a
abpos(l= initial,t= initial)
  position absolute
  left l
  top t
  
@keyframes Blinking
  0%
    opacity: 0
  100%
    opacity: 1

*
  margin 0
  padding 0
  box-sizing border-box
  font-family '微軟正黑體'
  position relative
html,body
  size(100%,100%)

  .avalon
    size(100%,90vh)
    .screen
      overflow hidden
      white-space nowrap
      size(100%,80%)
      border 1px solid #fff
      background-color #222
      color #fff
      font-size 300%
      .result
        z-index 2
        transition 0.5s
        size(100%,100%)
        background-color #fff
        color #222
        flexCenter(center,flex-start)
        flex-direction column
        h4
          margin-left 10%
          margin-bottom 16px
        .seat
          font-size 50%
          margin-left 10%
      .cards
        size(100%,100%)
        transition 0.5s
        .cover
          size(200%,100%)
          display inline-block
          .space
            size(50%,100%)
            flexCenter()
            position absolute
            left 0
          .card
            right 0
            position absolute
            size(50%,100%)
            flexCenter()
            flex-direction column
            img
              border-radius 16px
              size(100%,80%)
            .info
              flexCenter()
              flex-direction column
              size(100%,20%)
              h3
                font-size 50%
    .use
      size(100%,20%)
      position absolute
      bottom 0
      flexCenter()
      button 
        size(100%,100%)
        font-size 300%
        text-transform capitalize
        background-color #222
        color #fff
        border none
        cursor pointer
        margin 0px 1px