$color_Orange= #ffbf00
$color_Blue= #3da4ff
$color_Red= #d82424

size(w=100%,h=100%,bdrs=0)
  width w
  height h
  border-radius $bdrs
flexCenter(j=center,a=center)
  display flex
  justify-content j
  align-items a
abpos(l= initial,t= initial)
  position absolute
  left l
  top t
  
@keyframes Blinking
  0%
    opacity: 0
  100%
    opacity: 1

*
  margin 0
  padding 0
  box-sizing border-box

html,body
  size(100%,100%)